@font-face {
font-family: "barlow-200";
src: url("../fonts/F-Rotten_Font.ttf") format("opentype");
}
.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.block {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url(./img.svg);
    background-repeat: no-repeat;
}
.text-component{
    top: 95px;
    left: 65px;
    position: absolute;
}
.text{
    font-family: "barlow-200";
    font-size: 60px
}